
    .Main-Menu{

      position: relative;
      z-index: 0;
      background: lightgray;
      padding-bottom: 100px;
    }
    .main-menu:before{
        content: ;
    }

    .section{
        text-align: center;
        margin: 50px;
        
        
    }

    li{
        display: inline-block;
        padding: 40px;
    }
    
    .street{
        align-self: center;
    }
    .footer{
        display: flex;
        justify-content: space-around;
        background-color: #C9ECB5;
        padding: left;
        margin-left: inherit;
        
    }
    .Contact{
        background-color: #FFD77C;
        display: inline-flexbox;
        justify-content: center;
        text-align: center;
    }
    .get-intouch{
        color: black;
        font-size: initial;
    }
    .me{
        color:green;
        font-weight: inherit;
    }
    .Email{
        margin-bottom: 50px;
        margin-left: 20px;
        border: transparent;
        cursor: pointer;
    }
    .Send{
        margin-bottom: 100PX;
        color: green;
        cursor: pointer;
        font-size: initial;
        padding: top;

    }
    .send{
        color: green;
        cursor: pointer;
    }
    .header-4{
        display: inline;
        font-display:black ;
        position: inherit;
        justify-content: center;
    }
    .Huge{
        background-color: #C9ECB5;
        
    }
    .header{
        background: lightgray;
        }
    .header1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .available{
        background-color: white;
        border-style: none;
        border-bottom-right-radius: 15px;
        padding: 10px;
        margin: 50px;

    }

    /*
        width: 100%;
        padding: 12px 20px;
        margin: 50px 0;
        box-sizing: border-box;
        display: flex;

        justify-content: space-evenly;
        list-style-type: none;
        align-items: center;
    */



    
    
        
    

    

    

    
