
    .main-menu{
      background-size:cover;
      height: 100vh;
    
    }
    ul{
      
        width: 100%;
        padding: 12px 20px;
        margin: 50px 0;
        box-sizing: border-box;
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        align-items: center;

    }
    .street{
        align-self: center;
    }
    .footer{
        display: flex;
        justify-content: space-around;
        background-color: #C9ECB5;
    }
    .Contact{
        background-color: #FFD77C;
        position: relative;
        display: flex;
        justify-content: center;
    }



    
    
        
    

    

    

    
