
    .main-menu{
      background-size:cover;
      height: 100vh;
    
    }
    .section1{
        text-align: center;
        margin-top: initial;
        margin-bottom: 0px;
    }
    ul{
      
        width: 100%;
        padding: 12px 20px;
        margin: 50px 0;
        box-sizing: border-box;
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        align-items: center;

    }
    .street{
        align-self: center;
    }
    .footer{
        display: flex;
        justify-content: space-around;
        background-color: #C9ECB5;
        padding: left;
        margin-left: inherit;
        
    }
    .Contact{
        background-color: #FFD77C;
        display: inline-flexbox;
        justify-content: center;
        text-align: center;
    }
    .get-intouch{
        color: black;
        font-size: initial;
    }
    .me{
        color:green;
        font-weight: inherit;
    }
    .Email{
        margin-bottom: 50px;
        margin-left: 20px;
        border: transparent;
        cursor: pointer;
    }
    .Send{
        margin-bottom: 100PX;
        color: green;
        cursor: pointer;
        font-size: initial;
        padding: top;

    }
    .send{
        color: green;
        cursor: pointer;
    }
    .header-4{
        display: inline;
        font-display:black ;
        position: inherit;
        justify-content: center;
    }
    .Huge{
        background-color: #C9ECB5;
        
    }

    



    
    
        
    

    

    

    
