body{
    font-family:'poppins';
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Poppins';
    font-size: 50%;
    }

    .days{
        border-right: dashed;
    }
    

    .Main{

      position: relative;
      z-index: 0;
      background: lightgray;
      padding-bottom: 40px;   
    }
    .Main:before{
        background-color:#649549;
        clip-path: circle (27.7% at 88% 0);
    }

     .section{
        margin: 50px;
    }
    h1{
        text-align: center;
    }
        

    li {
        display: flex;
        justify-content: space-evenly;
        padding: 40px;
        text-decoration: none;
        color: black;
        font-size: 10px;
        font-weight: bold;
    }
    .logo{
        bottom: 40px;
    }
    
    
    
    .Contact{
        background-color: #FFD77C;
        display: inline-flexbox;
        justify-content: center;
        text-align: center;
        font-size: 200%;
    }
    .get-intouch{
        color: black;
        font-size: initial;
        font-size: 200%;
    }
    .me{
        color:green;
        font-weight: inherit;
        font-size: 200%;
    }
    .Email{
        margin-bottom: 50px;
        margin-left: 20px;
        border: transparent;
        cursor: pointer;
        border-radius: 20px;
        font-size: 10px;
    }
    .Send{
        margin-bottom: 0PX;
        background-color: green;
        cursor: pointer;
        font-size: 20px;
        border: green;
        

    }
    .send{
        color: green;
        cursor: pointer;
    }
    .header-4{
        display: inline;
        font-display:black ;
        position: inherit;
        justify-content: center;
    }
    .Team{
        background-color: white;
        display: flex;
    }
    .Eat{
        text-align: center;
        position: relative;
        bottom: -110px;
        right: 50px;
        font-size: 20px;

    }
    .cheese{
        color: orange;
        font-size: 50px;

    }
    .combo{
        background-color: #C9ECB5;
    }
    .Huge{
        position: relative;
        text-align: center;
    }
    .hot-combo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .header{
        background: lightgray;
        text-align: center;
        font-size: 20px;
    }
    .Explore{
        color: black;
        font-weight: inherit;
        font-size: 50%;
    }
    .Menu{
        color: green;
        font-weight: inherit;
        font-size: 200%;
    }

    .header1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .available{
        background-color: white;
        border-style: none;
        border-bottom-right-radius: 80px;
        padding: 1px;
        margin: 80px;
        bottom: 20px;
        border-top-left-radius: 20;
        text-align: right;
        

    }
    .picture{
        position: relative;
        bottom: 50px;
        left: 50px;
    }
    
    .Juices{
        position: absolute;
        top: 40px;
        left: 0px;
        z-index: 0;

    }
    .burger{
        position: absolute;
        top: 130px;
        left: 0px;
        z-index: 1;
    }
    .Special{
        font-size: 200%;
    }
    .delicacy{
        color: green;
    }
    .footer{
        display: flex;
        justify-content: space-around;
        background-color: #C9ECB5;
        
       
        
    }
    .street{
        color: green;
        font-size: 50px;
    }
    .sweet{
        color: orange;
        font-size: 50px;
    }
    h3{
        font-weight: bold;
        font-size: 30px;
    }

    p{
        font-size: 20px;
    }
    button{
        font-size: 20px;
        color: green;
        cursor: pointer;
    }
    
    
    
        
    

    

    

    
